.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.clearfloat {
  zoom: 1;
}

body {
  color: #303030;
  font-size: 12px;
  margin: 0;
  min-width: 250px;
  text-align: center;
  width: 450px;
  padding: 10px;
}
ul {
  padding: 0;
  margin: 0;
}
ul.vertical {
  padding: 0;
}
ul.horizontal li a {
  margin: 0 10px;
  padding: 2px 0;
  border-radius: 2px;
}
ul.horizontal li a span {
  display: inline-block;
  float: none;
}
ul li {
  list-style: none;
  margin: 2px 0;
}
ul li:last-child {
  margin-bottom: 4px;
}
ul li a {
  color: #303030;
  text-decoration: none;
  display: block;
  padding: 2px 10px;
  line-height: 24px;
  font-size: 13px;
}
ul li a.disabled {
  color: #909090;
}
ul li a.disabled:hover {
  background-color: #eceff5;
  color: #909090;
}
ul li a i {
  font-size: 14px !important;
  color: #477ce4;
  margin: 0 8px 0 4px;
}
ul li a:hover {
  background-color: #eceff5;
  color: #000;
  cursor: pointer;
}

.sep {
  height: 1px;
  background-color: #eee;
  margin: 4px 10px;
}
